*{
    padding: 0;
    margin: 0;
    list-style: none;
    
    box-sizing: border-box;
}
.left{
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    
   display: flex;
   flex-direction: column;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    width: 100%;
    background-color: #517cdc;
    color: white;
    font-size: 15px;
}
.gioithieu{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
ul li a{
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: dashed;
}
#hover:hover{
    background-color: red;
    
}
#hover:hover a{
    color: white;
}
@media screen and (min-width:600px ) {
    .left{
        flex-direction: row;
    }
    .right{
        padding-left: 10px;
    }
    .top{
        flex-direction: row;
        justify-content: space-around;
        background-color: blue;
        color: white;
        padding: 10px;
    }
    
    
    #imgs{
        width: 500px;
    }
    
    
}
@media screen and (min-width:1024px){
    #imgs{
        width: 700px;
    }
    .gioithieu{
        flex-direction: row;
    }
    .box70{
        width: 70%;
    }
    .box30{
        width: 30%;
    }
}